.cartdelete-icon_inner {
  height: 100%;
  width: 100%;
}
.cartdelete_icon_main {
  height: 30px;
  width: 30px;
}

.MallCart_main {
  padding: 5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.mallcart_items_main {
  display: flex;
  border: 1px solid;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  gap: 10px;
}

.mallcart_carttotal_checkoutbtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
}

.mallcart_items_inner {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .mallcart_items_inner {
    gap: 10px;
  }

  .MallCart_main {
    padding: 1.4rem;
  }

  .mall_cart_price_box{
    width: 60px;
    font-size: 14px;
  }

  .mall_cart_head_box{
    font-size: 14px;
  }
}