.search-prodct-head {
    font-size: 36px;
    color: var(--color-black);
    font-weight: 800;
}

.search-result-name {
    color: var(--color-gray);
    font-weight: 400;
}

@media screen and (max-width:600px) {
    .search-prodct-head {
        font-size: 24px;

    }
}