.mall-home-reg-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

@media screen and (max-width: 768px) {
    .modal_thankyou {
      width: 83vw;
    }
  }