.sociallogo_cinemahomehero_head {
    font-weight: 500;

  }
  
  .logoimagesocial_cinemahomehero {
    display: flex;
    gap: 1rem;
  }
  
  .apps_logos_wrapp_cinemahomehero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .homehero_text_base_home{
    width: 40%;
  }


  @media screen and (max-width:900px) {
    .landing_hearo_head{
      font-size: 24px !important;
    }

    .homehero_text_base_home{
      width: 47%;
    }
  }

  @media screen and (max-width:650px) {
    .logoimagesocial_cinemahomehero{
      flex-direction: column;
    }

    .homehero_text_base_home{
      width: 47%;
    }
  }
  @media screen and (max-width:500px) {
 
    .homehero_text_base_home{
      width: 60%;
    }
  }