.brand_banner_img_main{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

@media screen and (max-width:1230px) {
    .brand_banner_img_main{
        width: 100%;
    }
}