.forgot_pass_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 80vh;
    max-width: 550px;
    margin: 0 auto;
}

.forgot_pass_head{
    font-size: 40px;
    color: var(--color-black);
    font-weight: 600;
    margin-bottom: 2rem;
}

.mm_form_single_input_forgot_pass{
    width: 96% !important;
}


@media screen and (max-width: 1190px) {
    .forgot_pass_flex{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .forgot_pass_head{
        font-size: 37px;
    }
}

@media screen and (max-width:768px) {
    .forgot_pass_flex{
        margin-bottom: 5rem;
        margin-top: 3rem;
    }

    .forgot_pass_flex{
        min-height: 100%;
        align-items: start;
    }

    .forgot_pass_btn{
        align-self: center;
    }

    .mm_form_single_input_forgot_pass{
        width: 100% !important;
    }

    .forgot_pass_head{
        font-size: 38px;
    }
}

@media screen and (max-width:550px) {
   

    .forgot_pass_head{
        font-size: 32px;
        text-align: center;
        width: 100%;
    }

    .mm_form_single_input_forgot_pass_btn{
        display: block;
    }
}