.mm_main_wrapp_cinema_checkoutt{
    margin-left: 5rem !important;
    margin-right: 4rem !important;
}

@media screen and (max-width:500px) {
    .cinema-cart-oro-name{
        font-size: 13px !important;
    }

    .mall_name_wrapp_retailer_cart{
        flex-direction: row !important;
    }
}