.CinemaHomeWelcome_desc_main {
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem 0;
  }
  
  .CinemaHomeWelcome_head_inner {
    font-size: 45px;
    font-weight: 700;
  }
  
  .cinemahome_banner_main {
    display: flex;
    width: 100%;
    /* height: 67vh; */
  }
  .cinemahome_banner_img_main {
    width: 50%;
  }
  
  .cinemahome_banner_inner {
    height: 100%;
    width: 100%;
  }
  
  @media screen and (max-width: 850px) {
    .CinemaHomeWelcome_desc_main {
      padding: 2.5rem 1.3rem;
    }
  }
  @media screen and (max-width: 768px) {
    .cinemahome_banner_main {
      flex-direction: column;
      height: 100%;
    }

    .cinemahome_banner_img_main {
      width: 100%;
    }
  
    .CinemaHomeWelcome_head_inner {
      font-size: 28px;
    }
  }
  
  /* cinemahomebanner */