.mm_main_wrapp {
    margin: 2rem;
}

/* mall management name */

.mall_name_wrapp {
    display: flex;
    align-items: baseline;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
    padding-left: 4rem;

}

.mall_name_wrapp>span {
    font-weight: 300;
    font-size: 40px;
    color: var(--color-black);
}

.mall_name_heading {
    font-weight: 600;
    font-size: 40px;
    color: var(--color-black);
}

.mm_horizontal_line {
    background: #ABABAB;
    height: 1px;
    width: 100%;
    margin: 1rem auto;
}

/* .required::after{
    content:"*";
    color: orange;
    font-size: 20;
} */

.star_require{
    color: var(--color-orange);
    font-size: 15px;
    /* margin-left: -3px; */
}

.mm_form_single_input_mall_Acc_setting{
    /* min-width: 162px !important; */
}

/* mall manegement form */

.mm_form_wrapp {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.sselect-wrapper {
    position: relative;
}

.sselect-wrapper::after {
    content: "â”";
    font-size: 1rem;
    /* top: 9px; */
    top: 12px;
    right: 12px;
    position: absolute;
    transform: rotate(-134deg);
    font-weight: bold;
    font-size: initial;
    color: #000000e8;
}



.mm_form_input_wrapp {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.mm_form_single_input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-align: left;
    width: 100%;
}

.mm_form_single_input>label {
    min-width: 162px;
    font-size: 16px;
    font-weight: 400;
    /* text-align: end; */
}

/* tranding input start */

.mm_tranding_wrapp {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin: 8px 0;
}

.tranding_times_wrapp {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.tranding_times_wrapp_sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
    gap: 8px;
}

.tranding_sigle_time_wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.tranding_sigle_time_wrapp>select {
    min-width: 160px;
}

.tranding_sigle_time_wrapp-mall-management {
    gap: 0px;
}

.mall_upload_btn_wrapp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin-top: 0.5rem;
    gap: 1rem;
}

.img-upl-border {
    border: 1px solid #000;
    max-width: 250px;
}



.mm_img_upload_wrapp {
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* upload box */

.myprofile_inner_sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* min-width: 250px; */
    width: 250px;
    height: 100%;
    padding: 14px;
    border: 1px solid var(--color-black);
}

.myprofile_upload_img_card_name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 1rem;
}

/* .click_upload_btn {
    color: var(--color-orange);
    font-weight: 600;
} */

.myprofile_inner_sec2_img_upload {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #c0c0c0;
    background: var(--color-white);
    /* padding: 10px; */
    margin-bottom: 1rem;
}

.myprofile_inner_sec2_img_upload>h4 {
    font-weight: 300;
    font-size: 12px;
    color: var(--color-black);
    margin-bottom: 10px;
}

.myprofile_inner_sec2_img_upload>P {
    font-weight: 600;
    font-size: 12px;
    color: var(--color-gray);
    margin-bottom: 10px;
}

.myprofile_inner_sec2_img_upload>a {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-blue);
}

.myprofile_inner_sec2_img_upload>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mall_acc-manager-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 3%; */
    width: 100%;
    padding-left: 4rem;
    padding-right: 3rem;
}

.cus-acc-man-live-map {
    width: 140px;
}



.mall-acc-manager-upl-img-part {
    /* width: 22% !important; */
}

.fs-des-resp2 {
    display: none;
}

.mall_upload_btn_wrapp-resp {
    display: none;
}

.mm_form_wrapp_add_brand_mall {
    gap: 6% !important;
}

@media screen and (max-width:1500px) {
    .mall_acc-manager-flex {
        /* gap: 10%; */
    }
}

@media screen and (max-width:1433px) {
    .tranding_times_wrapp_sec {
        flex-direction: column;
        width: initial !important;
        align-items: baseline;
    }

    .tranding_times_wrapp {
        justify-content: space-between;
    }
}

@media screen and (max-width:1335px) {
    .mall-acc-manager-upl-img-part {
        /* width: 30% !important; */
    }

    .mall_acc-manager-flex {
        padding-right: 1.5rem;
    }

}

@media screen and (max-width:1220px) {
    .mall_name_wrapp>span {
        font-size: 34px;
    }

    .mall_name_heading{
        font-size: 34px;
    }

}

@media screen and (max-width:1150px) {
    .mall_acc-manager-flex {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .mall_acc_setting-btn-resp{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .mall-acc-manager-upl-img-part {
        /* width: 40% !important; */
    }

    .mm_form_input_wrapp {
        width: 100%;
    }

    .mall_upload_btn_wrapp {
        display: none !important;
    }

    .mall_upload_btn_wrapp-resp {
        display: flex;
        width: 75%;
        gap: 20px;
    }

    .fs-des-resp {
        display: none;
    }

    .fs-des-resp2 {
        display: flex;
        width: 80%;
    }
}

@media (max-width: 768px) {

    .mall_name_heading,
    .mall_name_wrapp>span {
        font-size: 1.7rem;
    }

    .edit_event_resp_star{
        min-width: 0px !important;
    }

    .mm_main_wrapp {
        margin: 5.2rem 1rem 2rem 1rem;
    }
    .mm_main_wrapp_22 {
        margin: 5.3rem 1rem 2rem 0rem !important;
    }

    .mm_form_wrapp {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .mm_form_input_wrapp,
    .mm_img_upload_wrapp {
        width: 100%;
    }

    .mm_tranding_wrapp,
    .mm_form_single_input {
        flex-wrap: wrap;
    }

    .mm_form_single_input>label {
        min-width: auto;
    }

    .mall_upload_btn_wrapp {
        width: 100%;
    }

    .tranding_times_wrapp_sec {
        width: 48%;
    }

    .cus-acc-man-live-map {
        width: 100% !important;
    }


    .mall_acc-manager-flex {
        flex-direction: column;
        gap: 35px;
    }

    .mall-acc-manager-upl-img-part {
        /* width: 100% !important; */
    }

    .myprofile_inner_sec2 {
        max-width: 300px;
    }

    .mm_form_wrapp_add_brand_mall {
        gap: 50px !important;
    }

    .mm_main_wrapp_Retail{
        margin-top: 5.2rem !important;
    }

}

@media (max-width: 500px) {
    .tranding_times_wrapp_sec {
        width: 60%;
    }

    .mall_name_wrapp {
        flex-direction: column-reverse;
        margin-top: 0px;

    }

    .mall_mall_name_heading{
        font-size: 27px !important;
    }

    .leaderboard-btn {
        align-self: flex-end !important;
    }

    .mall_upload_btn_wrapp {
        flex-direction: column;
        gap: 15px;
    }

    .mall_upload_btn_wrapp-resp {
        flex-direction: column;
    }

    .mall_mall_name_wrapp{
        flex-direction: column;
    }

    .mall_mall_name_wrapp_2{
        padding-right: 0rem !important;
    }

    .btn_eatery_res{
        justify-content: center;
    }

    .indep-side-show2{
        justify-content: flex-start !important;
    }
}

@media screen and (max-width:900px) {
    .mall_name_wrapp{
        padding-left: 1rem;
        
    }

    .mall_acc-manager-flex{
        padding-left: 1rem;
    }
}

.indep-side-show {
    display: none;
}

.brand-resp-show-btn {
    display: none;
}





/* add mall store */

.upload_img_instr{
    color: var(--color-gray);
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    /* width:200px; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 200px;
    align-self: center;
}

.radio-btn-flex-brand-mall{
flex-direction: row !important;
}

@media screen and (max-width:1090px) {

     .indep-side {
        display: none;
    }

    .brand-resp-btn {
        display: none;
    }
    .indep-side-show {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        margin-top: 20px;
    }

    .indep-side-show-event{
        margin-left: 25px;
        justify-content: start;
        margin-bottom: 10px;
    }

    .brand-resp-show-btn-event{
        margin-left: 25px;
        justify-content: start !important;
    }

    .mm_main_wrapp_padding_event{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
@media screen and (max-width:768px) {

    /* .indep-side {
        display: none;
    }

    .brand-resp-btn {
        display: none;
    } */

    /* .indep-side-show {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        margin-top: 20px;
    } */

    /* .brand-resp-show-btn {
        display: flex;
        justify-content: center;
    } */

    .add-eatery-resp {
        display: block !important;
        /* margin-left: 50px; */
    }
}

 .mm_form_wrapp_padding{
    padding-left: 5rem;
    padding-right: 5rem;
 }
 .mm_form_wrapp_padding_retailer_brand{
    padding-left: 4rem;
    padding-right: 4rem;
 }



 @media screen and (max-width:1230px) {
    .mm_form_wrapp_padding{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .mm_form_wrapp_padding_retailer_brand{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .mm_form_wrapp_name_padding{
        padding-left: 3rem;
        padding-right: 3rem;
    }
 }

 @media screen and (max-width:1090px) {
    .mm_form_wrapp_padding{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
    }

    .brand-resp-show-btn {
        display: flex;
        justify-content: center;
    }
 }

 @media screen and (max-width:940px) {
    .mm_form_wrapp_padding{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .mm_form_wrapp_padding_retailer_brand{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .mm_form_wrapp_name_padding{
        padding-left: 0rem;
        padding-bottom: 0rem;
    }
 }


/* 12/12/23 update code */
/* @media screen and (max-width:2685px) {
    .mm_form_input_wrapp {
        width: 80%;
    }
}


@media screen and (max-width:2365px) {
    .mm_form_input_wrapp {
        width: 75%;
    }
}

@media screen and (max-width:2150px) {
    .mm_form_input_wrapp {
        width: 72%;
    }
}

@media screen and (max-width:1920px) {
    .mm_form_input_wrapp {
        width: 70%;
    }
}

@media screen and (max-width:1800px) {
    .mm_form_input_wrapp {
        width: 66%;
    }
}

@media screen and (max-width:1675px) {
    .mm_form_input_wrapp {
        width: 64%;
    }
} */


@media screen and (max-width:730px) {
    .mall_name_wrapp_direction_reverse{
        flex-direction: column-reverse;
    }
}